{{ $home := $.Site.GetPage "/home" }}
{{ $home := $home.Resources.Match "*" }}
{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    {{ range $home }}
    <h2 class="post-header">{{ .Title }}</h2>
    <section class="post-content">{{ .Content }}</section>
    {{ end }}
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
